* {
  font-family: myfontRegular, sans-serif;
  scroll-behavior: smooth;
}
#dashBoard .topNav-Menu {
  background: white;
  height: 10vh;
}
#dashBoard .main {
  width: 76px;
  height: 90vh;
  background: #292a2c;
  transition: width 0.5s;
}
#dashBoard .main:hover {
  width: 180px;
}
#dashBoard .main:hover span {
  visibility: visible;
}
#dashBoard span {
  visibility: hidden;
  color: white;
}
#dashBoard ul {
  width: 300px;
  padding-left: 0;
}
#dashBoard .list-Items {
  font-size: 14px;
  font-weight: normal;
  padding: 8px;
}

#dashBoard .list-Items:hover {
  cursor: pointer;
  width: 180px;
  background-color: #01645f;
  color: white;
}

#dashBoard img {
  width: 45px;
  margin-left: 10px;
  vertical-align: middle;
}

#dashBoard #profile:hover #profileMenu {
  visibility: visible;
}
#dashBoard #payment:hover #payments {
  visibility: visible;
}
